<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.aenima.androidjokes">

    <application>
        <activity
            android:name=".ShowJokeActivity"
            android:label="@string/title_activity_show_joke"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>